* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 75em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;

  /*font-family: 'Nunito', sans-serif;*/
  /*text-align: center;*/
}

.App > * {
  flex: 1 1 auto;
}

.App-logo {
  height: 10vmin;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

.App-link {
  color: #09d3ac;
}
