.stats {
    padding: 2em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}

.stats__graph {
    position: relative;
    height: 20em;
    width: 100%;
}

.stats h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}